{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "ie": "11",
          "browsers": ["last 2 versions", "> 0.3%"]
        }
      }
    ],
    [
      "next/babel",
      {
        "targets": {
          "browsers": ["last 2 versions", "> 0.3%"]
        },
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ]
}
